* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navBar {
  height: 5rem;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #d84f57;
}

.logo {
  cursor: pointer;
  margin: auto 4rem;
}

.logoimg {
  width: 3.2rem;
}

.content {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.link {
  display: flex;
  margin-right: auto;
  padding-top: 0.5rem;
}

.link a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-right: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

.link a:hover {
  color: rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
}

.login {
  font-size: larger;
  border-radius: 30px;
  padding: 0.5rem 0.5rem;
  transition: 0.5s;
  margin-right: 4rem;
  background-color: #d84f57;
  cursor: pointer;
}

.banner {
  height: 450px;
  background: url("images/banner.png") no-repeat center;
  background-size: cover;
  display: flex;
}

.info {
  display: flex;
  margin: auto auto;
  padding-top: 3rem;
}

.info input,
.btn_sb {
  height: 3rem;
  width: 8rem;
  border: 1px solid #000;
}

.btn_sb {
  border-width: 1.5px;
  background-color: #c0323c;
  margin-left: 12px;
  border-radius: 20px;
  font-weight: bold;
  font-size: large;
  color: #fff;
  cursor: pointer;
  padding: 2px 8px;
}

.info input,
.date {
  padding: 0 20px;
}

::placeholder {
  font-size: larger;
  color: #000;
  font-weight: bolder;
}

.btn_sb:hover {
  background-color: #ea3340;
  border: 2px solid #000;
}

.section_2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.bene img,
.care img,
.price img {
  width: 8rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.bene,
.care,
.price {
  width: 24rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.down_2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto auto;
}

.promise_img {
  width: 6rem;
}

.top_2 {
  text-align: center;
  margin-bottom: 2rem;
}

.head_s2 {
  margin: 0 2rem;
  font-size: x-large;
}

.s2_decs {
  margin: 2rem 2rem;
  font-size: large;
}

.s2_main_head {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
}

.discount {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 236, 199);
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.dis_down {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 60%;
}

.dis_top {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  background-color: #ffdbde;
  text-align: center;
  align-self: center;
  box-shadow: 10px 10px 5px #eb9fa4;
  padding-left: 1rem;
  padding-right: 1rem;
}

.superhit {
  margin-right: 4rem;
}

.superhit,
.getoff {
  text-align: center;
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 10px 10px 5px #eb9fa4;
}

.fst_img {
  width: 7rem;
  margin-right: 2rem;
}

.fst_txt {
  align-self: center;
}

.fst_head {
  font-size: larger;
  padding-bottom: 1rem;
}

.global {
  background-color: rgb(246, 236, 199);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding-bottom: 1rem;
}

.flag_1,
.flag_2 {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-right: 8rem;
}

.global h3 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: xx-large;
}

.flag_1 div img,
.flag_2 div img {
  width: 9rem;
}

.flag_1 div,
.flag_2 div {
  margin-bottom: 3rem;
  text-align: center;
  margin-left: 8rem;
}

.numbers {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.numbers h3 {
  font-size: xx-large;
  margin-bottom: 2rem;
}

.num_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ticket,
.operator,
.customer {
  width: 15%;
  margin-left: 4rem;
}

.num_info_head {
  font-size: larger;
  padding-bottom: 1rem;
}

.ticket h2,
.operator h2,
.customer h2 {
  font-size: 3.8rem;
  font-weight: 1;
  color: #ef3b3b;
  padding-bottom: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: #1b2330;
  color: rgb(215, 196, 196);
}

.footer div {
  width: 14rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about {
  margin-left: auto;
}

.end {
  margin-right: auto;
}

.footer div h4,
.footer div img {
  font-size: large;
  padding-bottom: 1rem;
}

.end p {
  padding-bottom: 1rem;
}

.end i {
  width: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .bene,
  .care,
  .price {
    width: 20rem;
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    font-size: 10px;
  }
  .footer div h4 {
    font-size: 15px;
  }
  .s2_main_head {
    font-size: x-large;
  }
  .down_2 {
    height: 55vh;
    flex-direction: column;
  }
  .bene img,
  .care img,
  .price img {
    width: 4rem;
    margin-bottom: 5px;
  }
  .head_s2 {
    margin: 0 0rem;
    font-size: medium;
  }
  .s2_decs {
    margin: 0;
    font-size: small;
  }
  .global h3 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: x-large;
  }
  .resp-flag {
    display: flex;
    flex-direction: row;
  }
  .flag_1,
  .flag_2 {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .flag_1 div,
  .flag_2 div {
    margin-bottom: 1rem;
    text-align: center;
    margin-left: 20px;
  }
  .flag_1 div img,
  .flag_2 div img {
    width: 5rem;
  }

  .numbers h3 {
    font-size: x-large;
    margin-bottom: 1rem;
  }
  .ticket,
  .operator,
  .customer {
    width: 25%;
    margin-left: 1rem;
  }
  .ticket h2,
  .operator h2,
  .customer h2 {
    font-size: 1.4rem;
    padding-bottom: 0;
  }
  .num_info_head {
    font-size: small;
    padding-bottom: 1rem;
  }
  .section_2 {
    margin-top: 2rem;
  }
  .promise_img {
    width: 4rem;
  }
  .dis_top {
    width: 80%;
  }
  .fst_img {
    width: 4rem;
    margin-right: 0rem;
  }
  .fst_head {
    font-size: medium;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .fst_decs {
    padding-bottom: 0.5rem;
  }
  .dis_top {
    margin-bottom: 1.5rem;
  }
  .superhit {
    margin-right: 1rem;
  }
  .superhit,
  .getoff {
    width: 65%;
  }
  .dis_down {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 80%;
  }
  .sec-img {
    width: 100%;
  }
  .sec-para {
    font-size: small;
  }
  .info input,
  .btn_sb {
    height: 3rem;
    width: 8rem;
    border: 1px solid #000;
  }
  .sec-field {
    width: 80%;
  }
  .banner {
    background-image: url(images/banner.png) no-repeat center;
    display: flex;
  }
  .info input,
  .date {
    padding: 0 20px;
    border: 2px solid #222;
    font-size: larger;
    background: transparent;
  }
  .info {
    height: 30vh;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    padding-top: 0;
    margin-top: 6rem;
  }
  .logo {
    cursor: pointer;
    margin: auto 1rem;
  }
  .login {
    margin-left: auto;
  }
  .num-para {
    font-size: 12px;
  }
}
